* {
  box-sizing: border-box;
}

.sign-in {
  width: 100%;
  height: 1000px;
  padding: 40px 0 220px;
  background-color:rgb(245, 245, 245);
  &__content {
    width: 25%;
    min-width: 450px;
    margin: 0 auto;
    background-color: white;
    &__header {
      border: solid 1px #f5f5f5;
      height: 150px;
      padding: 40px 60px 0;
      p {
        text-align: center;
        font-size: 14px;
      }
      .button-registration {
        text-align: center;
        margin: 5px 0 15px;
        width: 100%;
        color: white;
        font-size: 14px;
        background-color: #0099e8;
        height: 48px;
        border: none;
      }
    }
    &__main {
      height: 500px;
      &__button {
        padding: 20px 60px;
        .button-facebook {
          text-align: center;
          margin: 5px 0 10px;
          width: 100%;
          color: white;
          font-size: 14px;
          background-color: #385185;
          height: 48px;
          border: none;
        }
        .button-google {
          text-align: center;
          margin: 5px 0 15px;
          width: 100%;
          font-size: 14px;
          height: 48px;
          border: #979797 solid 1px;
        }
      }
      &__input {
        padding: 20px 60px 0;
      }
      &__mail {
        padding-left: 15px;
        border-radius: 4px;
        margin: 5px 0 15px;
        width: 100%;
        font-size: 14px;
        height: 48px;
        border: 1px solid #ccc;
      }
      &__password {
        padding-left: 15px;
        border-radius: 4px;
        margin: 5px 0 15px;
        width: 100%;
        font-size: 14px;
        height: 48px;
        border: 1px solid #ccc;
      }
    .button-log-in {
      text-align: center;
      margin: 5px 0 50px;
      width: 100%;
      color: white;
      background-color: #ea352d;
      font-size: 14px;
      height: 48px;
      border: none;
      }
    }
  }
}