<%= stylesheet_link_tag '/devise/registrations/new', media: 'all', 'data-turbolinks-track' => true %>


<div class="sign-up">
  <div class="sign-up__content">
    <div class="sign-up__content__header">
      <p>新規会員登録</p>
    </div>
    <div class="sign-up__content__link">
      <button class="button-mail" type="button" href="#">メールアドレスで登録</button>
      <button class="button-facebook" type="button" href="#">Facebookで登録</button>
      <button class="button-google" type="button" href="#">Googleで登録</button>
    </div>
  </div>
</div>


