<div class="mypage">
 <section class="mypage__user">
 
      <ul class="mypage__user__icon">
            <img src="//static.mercdn.net/images/member_photo_noimage_thumb.png" width="60px"height="60px">
            <li>かっちゃん</li>
             <li class="mypage__user__number">評価 5  評価5
            </li>
      </ul>
      
 
 </section>


 <section class="mypage__notice">
      <ul class="mypage__notice__tab">
            <li class="mypage__notice__tab__list1">
                  <a href="">
                        <h3>お知らせ</h3>
                  </a>
            </li>
            <li class="mypage__notice__tab__list2">
                  <a href="">
                        <h3>やることリスト</h3>
                  </a>
            </li>
      </ul>
      <ul class="mypage__info">
            <li class="mypage__info__list">
                  <a href="" class="mypage__info__list__item">
                        <div class="mypage__icon">
                              <img src="//static.mercdn.net/images/mercari_profile.png">
                        </div>
                        <div class="mypage__body">
                              <div class="mypage__body__text">3日後、P1,000還元お得チケットの有効期限が切れます！タップして詳細を確認しましょう。
                              </div>
                              <div class="myspace__body__time">
                                    <i class="far fa-clock">
                                          <span>3時間前</span>
                                    </i>
                              </div>
                        </div>
                         <i class="mypage__icon__arrow">
                        </i>
                  </a>  
            </li>

             <li class="mypage__info__list">
                  <a href="" class="mypage__info__list__item">
                        <div class="mypage__icon">
                              <img src="//static.mercdn.net/images/mercari_profile.png">
                        </div>
                        <div class="mypage__body">
                              <div class="mypage__body__text">3日後、P1,000還元お得チケットの有効期限が切れます！タップして詳細を確認しましょう。
                              </div>
                              <div class="myspace__body__time">
                                    <i class="far fa-clock">
                                          <span>3時間前</span>
                                    </i>
                              </div>
                        </div>
                  </a>  
            </li>
             <li class="mypage__info__list">
                  <a href="" class="mypage__info__list__item">
                        <div class="mypage__icon">
                              <img src="//static.mercdn.net/images/mercari_profile.png">
                        </div>
                        <div class="mypage__body">
                              <div class="mypage__body__text">事務局から個別メッセージ「《大感謝祭のお得チケットとあわせて使おう》あなただけに特別にP300を進呈しました」
                              </div>
                              <div class="myspace__body__time">
                                    <i class="far fa-clock">
                                          <span>3時間前</span>
                                    </i>
                              </div>
                        </div>
                  </a>  
            </li>
            <li class="mypage__info__list">
                  <a href="" class="mypage__info__list__item">
                        <div class="mypage__icon">
                              <img src="//static.mercdn.net/images/mercari_profile.png">
                        </div>
                        <div class="mypage__body">
                              <div class="mypage__body__text">《この通知を受け取ったあなた限定》「1,000ポイントバック」のお得チケットをプレゼントしました！
                              </div>
                              <div class="myspace__body__time">
                                    <i class="far fa-clock">
                                          <span>3時間前</span>
                                    </i>
                              </div>
                        </div>
                  </a>  
            </li>
            <li class="mypage__info__list">
                  <a href="" class="mypage__info__list__item">
                        <div class="mypage__icon">
                              <img src="//static.mercdn.net/images/mercari_profile.png">
                        </div>
                        <div class="mypage__body">
                              <div class="mypage__body__text">《いま出品するとおトク》抽選で「取引手数料」を"全額"ポイントバックのチャンス
                              </div>
                              <div class="myspace__body__time">
                                    <i class="far fa-clock">
                                          <span>3時間前</span>
                                    </i>
                              </div>
                        </div>
                  </a>  
            </li>
      </ul>
 </section>
 <section class="mypage__buy">
      <h2 class="mypage__buy__head">購入した商品
      </h2>
      <ul class="mypage__item">
            <li class="mypage__item__sell">
                   <h3>取引中</h3>
            </li>
            <li class="mypage__item__past">
                  <h3>過去の取引<h3>
            </li>
      </ul>
      <div class="tab__contents">
            <ul class="tab__contents__list">
                  <li class="mypage__not__found__now">取引中の商品がありません</li>
                  </li>
                  <%# <%= image_tag("mercari_icon.png"), :size =>"88x85" %> 
            </ul>


            <ul class="tab__contents__list__past">
                  <li>
                        <a class="tab__contents__list__detail" href=""></a>
                  </li>       
            </ul>
      </div>




 </section>

</div>