<div class="side-bar">
  <div class="mypage">
   <div class="left-mypage">
    <ul class="left-navi-list">
      <li class="left-navi-list__firstchild"><a href = ""> マイページ</a></li>
      <li class="left-navi-list__first"><a href = ""> お知らせ</a></li>
      <li class="left-navi-list__first"><a href = ""> やることリスト</a></li>
      <li class="left-navi-list__first"><a href = ""> いいね!一覧</a></li>
      <li class="left-navi-list__first"><a href = ""> 出品する</a></li>
      <li class="left-navi-list__first"><a href = ""> 出品した商品-取引中</a></li>
      <li class="left-navi-list__first"><a href = ""> 出品した商品-売却済</a></li>
      <li class="left-navi-list__first"><a href = ""> 購入した商品-取引中</a></li> 
      <li class="left-navi-list__first"><a href = ""> 購入した商品-過去の取引</a></li>
      <li class="left-navi-list__first"><a href = ""> ニュース一覧</a></li>
      <li class="left-navi-list__first"><a href = ""> 評価一覧</a></li>
      <li class="left-navi-list__first"><a href = ""> ガイド</a></li>
      <li class="left-navi-list__first"><a href = ""> お問い合わせ</a></li> 
    </ul>
    <h3 class="merpay">メルペイ</h3>
    <ul class="left-navi-list">
      <li class="left-navi-list__firstchild"><a href = ""> 売上・振込申請</a></li>
      <li class="left-navi-list__first"><a href = ""> ポイント</a></li>
    </ul>
    <h3 class="setting">設定</h3>
    <ul class="left-navi-list">
      <li class="left-navi-list__firstchild"><a href = ""> プロフィール</a></li>
      <li class="left-navi-list__first"><a href = ""> 発送元・お届け先住所変更</a></li>
      <li class="left-navi-list__first"><a href = ""> 支払い方法</a></li>
      <li class="left-navi-list__first"><a href = ""> メール/パスワード</a></li>
      <li class="left-navi-list__first"><a href = ""> 本人情報</a></li>
      <li class="left-navi-list__first"><a href = ""> 電話番号の確認</a></li>
      <li class="left-navi-list__first"><a href = ""> プロフィール</a></li>
      <li class="left-navi-list__first"><a href = ""> ログアウト</a></li>
    </ul>
   </div>
  </div>
</div>
