= render partial: "items/header"
.logout.clearfix
  = render partial: "side"
  .logout__right
    .logout__right__box
      %form.logout__form
        .logout__form__box
          %button.logout__form__box__button{type: "submit"} ログアウト
= render partial: "items/banner"
= render partial: "items/footer"
