<div class="completion">
  <div class="completion__content">
    <div class="completion__content__header">
      <p class="completion__content__header--word">会員登録完了</p>
    </div>
    <div class="completion__content__main">
      <p class="completion__content__main--explanation">
        ありがとうございます。<br />
        会員登録が完了しました。
      </p>
      <button class="completion__content__main--button" type="button" href="#">
        メルカリをはじめる
      </button>
    </div>
  </div>
</div>