.completion
  .completion__content
    .completion__content__header
      %p.completion__content__header--word 会員登録完了
    .completion__content__main
      %p.completion__content__main--explanation
        ありがとうございます。
        %br/
        会員登録が完了しました。
      %button.completion__content__main--button{:href => "#", :type => "button"}
        メルカリをはじめる
