<!DOCTYPE html>
<html>
<head>
 <title>mercari</title>
 <%= stylesheet_link_tag    '/credit/new.scss', media: 'all', 'data-turbolinks-track' => true %>
 <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
 <%= csrf_meta_tags %>
 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
 <div class="container">
   <div class="container__right2">

     <div class="container__right-top">
       <h1>クレジットカード情報入力</h1>
     </div>

     <div class="container__right-main">
       <div class="container__right-main-space">
     <div class="credit-info">
         <label>カード番号</label>
        <span class="form-require">必須</span><br>
          <input class="form-require__number" value placeholder="半角数字のみ">
          <div class="deadline">
         <ul class="signup-card-list">
        <li>
          <img src="//www-mercari-jp.akamaized.net/assets/img/card/visa.svg?4069491723" width="49" height="20" alt="">
        </li>
        <li>
          <img src="//www-mercari-jp.akamaized.net/assets/img/card/master-card.svg?4069491723" width="34" height="20" alt="">
        </li>
        <li>
          <img src="//www-mercari-jp.akamaized.net/assets/img/card/saison-card.svg?4069491723" width="30" height="20" alt="">
        </li>
        <li>
          <img src="//www-mercari-jp.akamaized.net/assets/img/card/jcb.svg?4069491723" width="32" height="20" alt="">
        </li>
        <li>
          <img src="//www-mercari-jp.akamaized.net/assets/img/card/american_express.svg?4069491723" width="21" height="20" alt="">
        </li>
        <li>
          <img src="//www-mercari-jp.akamaized.net/assets/img/card/dinersclub.svg?4069491723" width="32" height="20" alt="">
        </li>
        <li>
          <img src="//www-mercari-jp.akamaized.net/assets/img/card/discover.svg?4069491723" width="32" height="20" alt="">
        </li>
      </ul>
      </div>
        <div class="title-space">
         <label class="title-space">有効期限</label>
         <span class="form-require">必須</span><br>

         <select name="select-time" type="text">
           <option value="1">01</option>
           <option value="1">02</option>
           <option value="1">03</option>
           <option value="1">04</option>
           <option value="1">05</option>
           <option value="1">06</option>
           <option value="1">07</option>
           <option value="1">08</option>
           <option value="1">09</option>
           <option value="1">10</option>
           <option value="1">11</option>
           <option value="1">12</option>
          </select>
          <%# <i class="medium material-icons grey lighten-1">expand_more</i> %>

          <span>月</span><br>
         <select name="select-time" type="text">
           <option value="1">19</option>
           <option value="1">20</option>
           <option value="1">21</option>
           <option value="1">22</option>
           <option value="1">23</option>
           <option value="1">24</option>
           <option value="1">25</option>
           <option value="1">26</option>
           <option value="1">27</option>
           <option value="1">28</option>
           <option value="1">29</option>
          </select>
          <%# <i class="material-icons">expand_more</i> %>
           <span>年</span>
           </div>
           <br>

           <label>セキュリティコード</label>
           <span class="form-require">必須</span><br>
           <input class="form-require__number" value placeholder="カード背面3~4桁の番号" maxlength="4" >

           <a href>カード裏面の番号とは？</a>
       <div class="credit">
         <button class="credit-button">追加する</button>
       </div>
       </div>
       </div>


       </div>
     </div>
   </div>
  </div>
</body>