
<%= stylesheet_link_tag '/devise/sessions/new', media: 'all', 'data-turbolinks-track' => true %>



<div class="sign-in">
  <div class="sign-in__content">
    <div class="sign-in__content__header">
      <p>アカウントをお持ちでない方はこちら</p>
      <button class="button-registration" type="button" href="#">新規会員登録</button>
    </div>
    <form class="sign-in__content__main">
      <div class="sign-in__content__main__button">
        <button class="button-facebook" type="button" href="#">Facebookでログイン</button>
        <button class="button-google" type="button" href="#">Googleでログイン</button>
      </div>
      <div class="sign-in__content__main__input">
        <input class="sign-in__content__main__mail" placeholder="メールアドレス">
        <input class="sign-in__content__main__password" placeholder="パスワード">
      <div>
      <div class="robot"></div>
      <button class="button-log-in" type="button" href="#">ログイン</button>
      <%=link_to "パスワードをお忘れの方", "#", class: "link-forget-password" %>
    </form>
  </div>
</div>