<!DOCTYPE html>
<html>
<head>
<title>Top</title>
<%= stylesheet_link_tag '/new', media: 'all', 'data-turbolinks-track' => true %>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
</head>
<body>
  <div class="item__confirmation">
    <div class="item__confirmation__header">
      <h1 class="item__confirmation__header__inner">
        <a href="">
          <img src="//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?4069491723">
        </a>
      </h1>
    </div>
    <div class="item__confirmation__main">
      <div class="item__confirmation__box">
        <h2>購入内容の確認</h2>
          <div class="item__confirmation__product">
            <div class="item__confirmation__product__content">
              <h3>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRyPF_-Ey6UIAypKKCwOP30iAZqpam7Kslrll21X3hnzhgN9Zv_">
              </h3>
              <p>商品の名前・商品の名前・商品の名前</p>
              <div class="item__confirmation__product__form">
                <div class="buy__price">
                  <span class="buy__price__left">¥123,456</span>
                  <span class="buy__price__right">送料込み</span>
                </div>
              <div class="buy__point">
                <div class=" buy__point--not">ポイントはありません
                </div>
              </div>
              <div class="buy--total">
                <div class="buy--total__title">支払い金額
                </div>
                <div class="buy--total__price">¥ 123,456
                </div>
              </div>
              <p class="buy__alert">配送先と支払い方法の入力を完了してください。</p>
              <button type="submit" class="buy__button" disabled>購入する</button>
            </div>
          </div>
          <div class="item__confirmation__user">
            <div class="item__confirmation__user__info">
              <h3>配送先</h3>
              <p>〒000-0000<br>東京都〇〇〇〇<br>苗字名前</p>
              <a href="">
                <span>変更する</span>
                <i class="fas fa-angle-right"></i>
              </a>
            </div>
          </div>
          <div class="item__confirmation__credit">
            <div class="item__confirmation__credit__info">
              <h3>支払い方法</h3>
              <p><br>/<br><br></p>
              <a href="">
                <span>変更する</span>
                <i class="fas fa-angle-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item__confirmation__footer">
      <div>
        <ul>
          <li>
            <a href="">プライバシーポリシー</a>
          </li>
          <li class="item__confirmation__footer__link">
            <a href="">メルカリ利用規約</a>
          </li>
          <li class="item__confirmation__footer__link">
            <a href="">特定商取引に関する表記</a>
          </li>
        </ul>
      </div>
      <a href="" class="item__confirmation__footer__logo">
        <img src="//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?4069491723">
      </a>
      <p class="item__confirmation__footer__copyright">
        <span>©︎ 2019 Mercari</span>
      </p>
    </div>
  </div>
</body>
</html>