<!DOCTYPE html>
<html>
<head>
 <title>mercari</title>
 <%= stylesheet_link_tag    '/item/show.scss', media: 'all', 'data-turbolinks-track' => true %>
 <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
 <%= csrf_meta_tags %>
 <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
</head>
<body>
<div class="wrapper">
  <div class="itembox__container">

    <h1>AKIRA</h1>

    <div class="itembox__container__detail--main clearfix">
      <div class="itembox__container__photobox">
        <div class="itembox__container__photobox__img">
          <img data-src="https://static.mercdn.net/item/detail/orig/photos/m30971704799_1.jpg?1560139326" alt="SUPREME AKIRA ステッカー 大友克洋" class="itembox__container__photobox__img__photo" src="https://static.mercdn.net/item/detail/orig/photos/m30971704799_1.jpg?1560139326" style="opacity: 1;"/>
        </div>
        <div class="itembox__small--photobox">
        </div>
      </div>

      <table class="itembox__container__detail__table">
        <tbody>
          <tr>
            <th>出品者</th>
            <td>
              <a href="https://出品者ページ">大友克洋</a>
              <div>
                <div class="itembox__container__detail__table__ratings">
                  <i class="far fa-smile"></i>
                  <span>223</span>
                </div>
                <div class="itembox__container__detail__table__ratings">
                  <i class="far fa-meh"></i>
                  <span>0</span>
                </div>
                <div class="itembox__container__detail__table__ratings">
                  <i class="far fa-sad-tear"></i>                  
                  <span>0</span>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <th>カテゴリー</th>
            <td>
              <a href="https://メンズへのurl">
              <div>メンズ</div>
              </a>
              <a href="https://小物へのリンク">
                <div class="itembox__detail--category">
                  <i class="icon-arrow-right"></i>
                  小物
                </div>
              </a>
              <a href="https://其の他へのリンク">
                <div class="itembox__detail--category">
                  <i class="icon-arrow-right"></i>
                  其の他
                </div>
              </a>
            </td>
          </tr>
          <tr>
            <th>ブランド</th>
            <td>
              <a href="https://ブランドへのリンク">
                <div>
                ネオトウキョウ
                </div>
              </a>
            </td>
          </tr>
          <tr>
            <th>商品の状態</th>
            <td>未使用に近い</td>
          </tr>
          <tr>
            <th>配送料の負担</th>
            <td>送料込み(出品者負担)</td>
          </tr>
          <tr>
            <th>配送の方法</th>
            <td>らくらくメルカリ便</td>
          </tr>
          <tr>
            <th>配送元地域</th>
            <td>
              <a href="https://都道府県リンク">大阪府</a>
            </td>
          </tr>
          <tr>
            <th>発送日の目安</th>
            <td>1〜2日で発送</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="itembox__container__pricebox">
      <span class="itembox__container__pricebox__price">¥1,500</span>
      <span class="itembox__container__pricebox__tax">(税込)</span>
      <span class="itembox__container__pricebox__fee">送料込み</span>
    </div>

    <a href="https://購入ページ"><button class="itembox__container__buybtn">購入画面に進む</button></a>

    <div class="itembox__container__discription">
      <p class="itembox__container__discription__exprain">
　

　   金田さん


      </p>
    </div>

    <div class="itembox__container__btnbox clearfix">
      <div class="itembox__container__btnbox__left">
        <button class="itembox__container__btnbox__left__likebtn">
          <i class="far fa-heart"></i>
          <span class="itembox__container__btnbox__left__likebtn__like">いいね!</span>
          <span class="itembox__container__btnbox__left__likebtn__likenum">5</span>
        </button>
        <a href=https://通報>
          <button class="itembox__container__btnbox__left__reportbtn clearfix">
            <i class="far fa-flag"></i>
            <span class="itembox__container__btnbox__left__reportbtn__report">不適切な商品の警告</span>
          </button>
        </a>
      </div>
      <div class="itembox__container__btnbox__right">
        <a href="https://www.mercari.com/jp/safe/description/" target="_blank">
          <i class="fas fa-lock"></i>
          <span class="itembox__container__btnbox__right__policy">あんしん・あんぜんへの取り組み</span>
        </a>
      </div>
    </div>
  </div>

  <div class="itembox__message">
    <div class="itembox__message__content">
      <form class="itembox__message__content__form">
        <p>相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。</p>
        <textarea type="text" name="body" value="" class="itembox__message__content__form__box"></textarea>
        <button type="submit" class="itembox__message__content__form__submitbtn">
          <span class="itembox__message__content__form__submitbtn__submit">コメントする</span>
        </button>
      </form>
    </div>
  </div>

  <div>
    <ul class="itembox__to__nextitembox clearfix">
      <li class="itembox__to__nextitembox__previous">
        <a href="https.//前のアイテムページ">
          <i class="icon-arrow-left"></i>
          王の手バッジ
        </a>
      </li>
      <li class="itembox__to__nextitembox__next">
        <a class=itempage href="https.//次のアイテムページ">
          <i class="icon-arrow-right"></i>
          インフィニティストーン
        </a>
      </li>
    </ul>
  </div>

  <div class="itembox__socialmediabox">
    <ul class="itembox__socialmediabox__sns">
      <li>
        <a href="http://www.facebook.com/" class=btn data-window-name="facebook_window">
        <i class="fab fa-facebook-square fb"></i>
        </a>
      </li>
      <li>
        <a href="http://" data-window-name="twitter_window">
        <i class="fab fa-twitter-square twitter"></i>        
      </li>
      <li>
        <a href="http://line.me/R/msg/text/?大友克洋 GENGA 画集%20%7C%20%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA%20%E3%82%B9%E3%83%9E%E3%83%9B%E3%81%A7%E3%81%8B%E3%82%93%E3%81%9F%E3%82%93%20%E3%83%95%E3%83%AA%E3%83%9E%E3%82%A2%E3%83%97%E3%83%AA%0D%0Ahttps://item.mercari.com/jp/m97374265726/">
        <i class="fab fa-line line"></i>   
        </a>     
      </li>
      <li>
        <a href="http://pinterest.com/pin/create/button/?url=https%3A%2F%2Fitem.mercari.com%2Fjp%2Fm30971704799%2F&amp;media=https%3A%2F%2Fstatic.mercdn.net%2Fitem%2Fdetail%2Forig%2Fphotos%2Fm30971704799_1.jpg%3F1560139326&amp;description=%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA%E5%95%86%E5%93%81%3A%20SUPREME%20AKIRA%20%E3%82%B9%E3%83%86%E3%83%83%E3%82%AB%E3%83%BC%20%E5%A4%A7%E5%8F%8B%E5%85%8B%E6%B4%8B%20%23%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA" target="_blank" class="share-btn" data-window-name="pinterest_window">
          <i class="fab fa-pinterest-square pin"></i>
        </a>
      </li>
    </ul>
  </div>

  <div class="itembox__user__profile">
    <div class="itembox__user__profile__mainbox">
      <h2>
       <a class="itembox__user__profile__mainbox__userprofile" href="https://www.mercari.com/jp/u/624056867/">大友克洋さんのその他の出品</a>
      </h2>
      <div class="itembox__user__goodsbox clearfix">
        <div class="itembox__user__goodsbox__item">
          <a href="https://アイテム">
            <figure class="itembox__user__goodsbox__itemimg">
              <img data-src="https://static.mercdn.net/thumb/photos/m20130201592_1.jpg?1560310391" class="goods__img" alt="SUPREME 10f/w 缶 バッジ 黒" src="https://static.mercdn.net/thumb/photos/m20130201592_1.jpg?1560310391"/>
            </figure>
            <div class="itembox__user__goodsbox__itembody">
              <h3 class="itembox__user__goodsbox__itembody__name">SUPREME 10f/w 缶 バッジ 黒</h3>
              <div class="itembox__user__goodsbox__itembody__num">
                <div class="goodsbox__price">¥ 2,222</div>
                <p class="goodsbox__tax">(税込)</p>
              </div>
            </div>
          </a>
        </div>
        <div class="itembox__user__goodsbox__item">
          <a href="https://アイテム">
            <figure class="itembox__user__goodsbox__itemimg">
              <img data-src="https://static.mercdn.net/thumb/photos/m20130201592_1.jpg?1560310391" class="goods__img" alt="SUPREME 10f/w 缶 バッジ 黒" src="https://static.mercdn.net/thumb/photos/m20130201592_1.jpg?1560310391"/>
            </figure>
            <div class="itembox__user__goodsbox__itembody">
              <h3 class="itembox__user__goodsbox__itembody__name">SUPREME 10f/w 缶 バッジ 黒</h3>
              <div class="itembox__user__goodsbox__itembody__num">
                <div class="goodsbox__price">¥ 2,222</div>
                <p class="goodsbox__tax">(税込)</p>
              </div>
            </div>
          </a>
        </div>
        <div class="itembox__user__goodsbox__item">
          <a href="https://アイテム">
            <figure class="itembox__user__goodsbox__itemimg">
              <img data-src="https://static.mercdn.net/thumb/photos/m20130201592_1.jpg?1560310391" class="goods__img" alt="SUPREME 10f/w 缶 バッジ 黒" src="https://static.mercdn.net/thumb/photos/m20130201592_1.jpg?1560310391"/>
            </figure>
            <div class="itembox__user__goodsbox__itembody">
              <h3 class="itembox__user__goodsbox__itembody__name">SUPREME 10f/w 缶 バッジ 黒</h3>
              <div class="itembox__user__goodsbox__itembody__num">
                <div class="goodsbox__price">¥ 2,222</div>
                <p class="goodsbox__tax">(税込)</p>
              </div>
            </div>
          </a>
        </div>
        <div class="itembox__user__goodsbox__item">
          <a href="https://アイテム">
            <figure class="itembox__user__goodsbox__itemimg">
              <img data-src="https://static.mercdn.net/thumb/photos/m20130201592_1.jpg?1560310391" class="goods__img" alt="SUPREME 10f/w 缶 バッジ 黒" src="https://static.mercdn.net/thumb/photos/m20130201592_1.jpg?1560310391"/>
            </figure>
            <div class="itembox__user__goodsbox__itembody">
              <h3 class="itembox__user__goodsbox__itembody__name">SUPREME 10f/w 缶 バッジ 黒</h3>
              <div class="itembox__user__goodsbox__itembody__num">
                <div class="goodsbox__price">¥ 2,222</div>
                <p class="goodsbox__tax">(税込)</p>
              </div>
            </div>
          </a>
        </div>
        <div class="itembox__user__goodsbox__item">
          <a href="https://アイテム">
            <figure class="itembox__user__goodsbox__itemimg">
              <img data-src="https://static.mercdn.net/thumb/photos/m20130201592_1.jpg?1560310391" class="goods__img" alt="SUPREME 10f/w 缶 バッジ 黒" src="https://static.mercdn.net/thumb/photos/m20130201592_1.jpg?1560310391"/>
            </figure>
            <div class="itembox__user__goodsbox__itembody">
              <h3 class="itembox__user__goodsbox__itembody__name">SUPREME 10f/w 缶 バッジ 黒</h3>
              <div class="itembox__user__goodsbox__itembody__num">
                <div class="goodsbox__price">¥ 2,222</div>
                <p class="goodsbox__tax">(税込)</p>
              </div>
            </div>
          </a>
        </div>
        <div class="itembox__user__goodsbox__item">
          <a href="https://アイテム">
            <figure class="itembox__user__goodsbox__itemimg">
              <img data-src="https://static.mercdn.net/thumb/photos/m20130201592_1.jpg?1560310391" class="goods__img" alt="SUPREME 10f/w 缶 バッジ 黒" src="https://static.mercdn.net/thumb/photos/m20130201592_1.jpg?1560310391"/>
            </figure>
            <div class="itembox__user__goodsbox__itembody">
              <h3 class="itembox__user__goodsbox__itembody__name">SUPREME 10f/w 缶 バッジ 黒</h3>
              <div class="itembox__user__goodsbox__itembody__num">
                <div class="goodsbox__price">¥ 2,222</div>
                <p class="goodsbox__tax">(税込)</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    
    <div class="itembox__user__profile__mainbox">
      <h2>
       <a class="itembox__user__profile__mainbox__userprofile" href="https://www.mercari.com/jp/u/624056867/">
       趣味/スポーツ/実用 （本・音楽・ゲーム） その他の商品
      </a>
      </h2>
      <div class="itembox__user--profile--goodsbox clearfix">
        <div class="itembox__user__goodsbox__item">
          <a href="https://アイテム">
            <figure class="itembox__user__goodsbox__itemimg">
              <img data-src="https://static.mercdn.net/thumb/photos/m20130201592_1.jpg?1560310391" class="goods__img" alt="SUPREME 10f/w 缶 バッジ 黒" src="https://static.mercdn.net/thumb/photos/m20130201592_1.jpg?1560310391"/>
            </figure>
            <div class="itembox__user__goodsbox__itembody">
              <h3 class="itembox__user__goodsbox__itembody__name">SUPREME 10f/w 缶 バッジ 黒</h3>
              <div class="itembox__user__goodsbox__itembody__num">
                <div class="goodsbox__price">¥ 2,222</div>
                <p class="goodsbox__tax">(税込)</p>
              </div>
            </div>
          </a>
        </div>
        <div class="itembox__user__goodsbox__item">
          <a href="https://アイテム">
            <figure class="itembox__user__goodsbox__itemimg">
              <img data-src="https://static.mercdn.net/thumb/photos/m20130201592_1.jpg?1560310391" class="goods__img" alt="SUPREME 10f/w 缶 バッジ 黒" src="https://static.mercdn.net/thumb/photos/m20130201592_1.jpg?1560310391"/>
            </figure>
            <div class="itembox__user__goodsbox__itembody">
              <h3 class="itembox__user__goodsbox__itembody__name">SUPREME 10f/w 缶 バッジ 黒</h3>
              <div class="itembox__user__goodsbox__itembody__num">
                <div class="goodsbox__price">¥ 2,222</div>
                <p class="goodsbox__tax">(税込)</p>
              </div>
            </div>
          </a>
        </div>
        <div class="itembox__user__goodsbox__item">
          <a href="https://アイテム">
            <figure class="itembox__user__goodsbox__itemimg">
              <img data-src="https://static.mercdn.net/thumb/photos/m20130201592_1.jpg?1560310391" class="goods__img" alt="SUPREME 10f/w 缶 バッジ 黒" src="https://static.mercdn.net/thumb/photos/m20130201592_1.jpg?1560310391"/>
            </figure>
            <div class="itembox__user__goodsbox__itembody">
              <h3 class="itembox__user__goodsbox__itembody__name">SUPREME 10f/w 缶 バッジ 黒</h3>
              <div class="itembox__user__goodsbox__itembody__num">
                <div class="goodsbox__price">¥ 2,222</div>
                <p class="goodsbox__tax">(税込)</p>
              </div>
            </div>
          </a>
        </div>
        <div class="itembox__user__goodsbox__item">
          <a href="https://アイテム">
            <figure class="itembox__user__goodsbox__itemimg">
              <img data-src="https://static.mercdn.net/thumb/photos/m20130201592_1.jpg?1560310391" class="goods__img" alt="SUPREME 10f/w 缶 バッジ 黒" src="https://static.mercdn.net/thumb/photos/m20130201592_1.jpg?1560310391"/>
            </figure>
            <div class="itembox__user__goodsbox__itembody">
              <h3 class="itembox__user__goodsbox__itembody__name">SUPREME 10f/w 缶 バッジ 黒</h3>
              <div class="itembox__user__goodsbox__itembody__num">
                <div class="goodsbox__price">¥ 2,222</div>
                <p class="goodsbox__tax">(税込)</p>
              </div>
            </div>
          </a>
        </div>
        <div class="itembox__user__goodsbox__item">
          <a href="https://アイテム">
            <figure class="itembox__user__goodsbox__itemimg">
              <img data-src="https://static.mercdn.net/thumb/photos/m20130201592_1.jpg?1560310391" class="goods__img" alt="SUPREME 10f/w 缶 バッジ 黒" src="https://static.mercdn.net/thumb/photos/m20130201592_1.jpg?1560310391"/>
            </figure>
            <div class="itembox__user__goodsbox__itembody">
              <h3 class="itembox__user__goodsbox__itembody__name">SUPREME 10f/w 缶 バッジ 黒</h3>
              <div class="itembox__user__goodsbox__itembody__num">
                <div class="goodsbox__price">¥ 2,222</div>
                <p class="goodsbox__tax">(税込)</p>
              </div>
            </div>
          </a>
        </div>
        <div class="itembox__user__goodsbox__item">
          <a href="https://アイテム">
            <figure class="itembox__user__goodsbox__itemimg">
              <img data-src="https://static.mercdn.net/thumb/photos/m20130201592_1.jpg?1560310391" class="goods__img" alt="SUPREME 10f/w 缶 バッジ 黒" src="https://static.mercdn.net/thumb/photos/m20130201592_1.jpg?1560310391"/>
            </figure>
            <div class="itembox__user__goodsbox__itembody">
              <h3 class="itembox__user__goodsbox__itembody__name">SUPREME 10f/w 缶 バッジ 黒</h3>
              <div class="itembox__user__goodsbox__itembody__num">
                <div class="goodsbox__price">¥ 2,222</div>
                <p class="goodsbox__tax">(税込)</p>
              </div>
            </div>
          </a>
        </div>
    </div>
</div>
</body>
</html>

