@import "reset";

* {
  box-sizing: border-box;
}

.banner {
  background-image: url(https://www.mercari.com/jp/assets/img/common/jp/top/download_bg_pc.jpg?60714622);
  height: 260px;
  &__inner {
    position: relative;
    height: 260px;
    width: 750px;
    margin: 0 auto;
    &__title {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      color: #fff;
      & h2 {
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 24px;
      }
      & p {
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 35px;
        margin-top: 10px; 
      }
    }
    &__image {
      position: absolute;
      top: 0;
      right: 0;
      width: 300px;
      height: 100%;
      & img {
        width: 300px;
        height: 260px;
      }
    }
  }
  &__download {
    margin-top: 20px; 
    height: 68px;
    &__service {
      float: left;
      & img {
        width: 68px;
      }
    }
    &__store {
      float: left;
      margin-left: 24px;  
      list-style: none; 
      height: 68px;
      &__app {
        float: left;
        height: 68px;
        & img {
          margin-top: 14px;
        }
      }
      &__google {
        float: left;
        height: 68px;
        margin-left: 16px; 
        & img {
          margin-top: 14px;
        }
      }
    }
  }
}