@import "reset";

* {
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.exhibition__button {
  text-decoration: none;
  bottom: 32px;
  right: 32px;
  width: 160px;
  height: 160px;
  font-size: 22px;
  position: fixed;
  z-index: 1000;
  border-radius: 50%;
  background: #ea352d;
  color: #fff;
  text-align: center;
  &__text {
    margin: 32px 0 0;
  }
  &__icon {
    margin: 8px 0 0;
    font-size: 54px;
  }
}