

.registration-base {
  width: 100%;
  height: 100%;
  padding: 128px 0 220px;
  background-color:rgb(245, 245, 245);
  &__content {
    width: 700px;
    margin: 0 auto;
    background-color: white;
    &__header {
      border: solid 1px #f5f5f5;
      height: 100px;
      p {
        text-align: center;
        font-size: 22px;
        font-weight: bold;
        line-height: 100px;
      }
    }
    &__form {
      height: 1500px;
      padding-top: 20px;
      .current-user-explanation {
        padding: 20px 190px;
        h3 {
          padding-bottom: 5px;
          font-size: 14px;
        }
        p {
          font-size: 14px;
          line-height: 20px;
        }
      }
      .input-caution {
        padding: 20px 190px;
        &__word {
          font-size: 14px;
          line-height: 20px;
          color: #888;
          font-style: normal;
        }
      }
      &__each {
        padding: 25px 190px 0;
        &--label {
          font-size: 14px;
          font-weight: 600;
          vertical-align: top;
        }
        &--span {
          background-color: #ea352d;
          border-radius: 2px;
          color: #fff;
          font-size: 12px;
          vertical-align: top;
          padding: 2px 4px;
        }
        &--input {
          padding-left: 15px;
          border-radius: 4px;
          margin: 5px 0 15px;
          width: 100%;
          font-size: 14px;
          height: 48px;
          border: 1px solid #ccc;
        }

      }
      .birthday-select-wrap {
        .birthday-select {
        }
        .select-down {
        }
      }
      .birth-info {

      }
      .service-terms {
        padding: 20px 190px;
        &__word {
          font-size: 14px;
          font-style: normal;
          text-align: center;
        }
      }
      .next-button {
        margin: 5px 190px 50px;
        width: 318px;
        color: white;
        background-color: #ea352d;
        font-size: 14px;
        height: 48px;
        border: none;
      }
      .user-registration-explanation {
        font-style: normal;
        padding-left: 345px;
        font-size: 14px;
      }
    }

  }
}
