%aside.banner
  .banner__inner
    .banner__inner__title
      %h2 スマホでかんたんフリマアプリ
      %p 今すぐ無料ダウンロード！
      .banner__download
        .banner__download__service
          = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/mercari_icon.png?4069491723"
        %ul.banner__download__store
          %li.banner__download__store__app
            = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?4069491723"
          %li.banner__download__store__google
            = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?4069491723"
    .banner__inner__image
      = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/jp/download_content_pc.png?4069491723"
